@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-sora {
  font-family: "Sora", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* Custom animations */
@keyframes accordion-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-accordion-down {
  animation: accordion-down 0.3s ease-out;
}

.fadeUp {
  animation: fadeUp 0.3s ease-out;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #82fafa;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #82fafa;
  cursor: pointer;
  border: none;
}
